* {
    margin: 0;
    padding: 0;
}

.app {

    display: flex;
    background-color: #121212;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    min-height: 100vh;


}

.home {
    flex: 1;
    /* background-color: green; */
}