* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;

}

.home {
    flex: 1;
    padding: 20px;
    /* background-color: green; */
}